<div class="bg-primary flex mb-8 py-1 sticky top-0 z-10">
  <ul class="menu menu-horizontal rounded-box container max-w-[1200px] mx-auto grid grid-cols-5 lg:flex items-center font-bold
      justify-center lg:justify-start h-[64px] p-0">
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/">
        <img loading="lazy" src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/cropped-HO-24x24.png"/>
        <span>首頁</span>
      </a>
    </li>
    <li class="dropdown dropdown-hover">
      <a class="flex flex-col lg:flex-row leading-3" tabindex="0" href="/category/path-of-exile-流亡黯道">
        <img loading="lazy" src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/POE-36x28.png"/>
        <span class="hidden lg:block">Path of Exile 流亡黯道</span>
        <span class="lg:hidden">POE</span>
      </a>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="/category/poe-build-guide/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_ninja.png"/>POE Build Guide</a>
        </li>
        <li>
          <a href="/category/poe-通識/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_knowledge.png"/>POE 通識</a>
        </li>
        <li>
          <a href="/category/poe-消息/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_news.png"/>POE 消息</a>
        </li>
        <li>
          <a href="/category/poe-近戰/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_melee.png"/>POE 近戰</a>
        </li>
        <li>
          <a href="/category/poe-遠程/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_ranger.png"/>POE 遠程</a>
        </li>
        <li>
          <a href="/category/poe-法術/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_spell.png"/>POE 法術</a>
        </li>
        <li>
          <a href="/category/poe-召喚/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_summon.png"/>POE 召喚</a>
        </li>
        <li>
          <a href="/category/poe-觸發/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_trigger.png"/>POE 觸發</a>
        </li>
        <li>
          <a href="/category/poe-拓荒精選/"><img loading="lazy" class="w-6 h-6 mr-2" src="/assets/img/poe_league_starter.png"/>POE 拓荒精選</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/intro/">
        <img loading="lazy" src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/3-36x26.png"/>
        <span>遊戲介紹</span>
      </a>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/guide/">
        <img
          loading="lazy"
          src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/dbpjw5t-23ed5ea9-1d62-4990-8983-75f245a5632b-36x26.gif"/>
        <span>遊戲攻略</span>
      </a>
    </li>
    <li>
      <a class="flex flex-col lg:flex-row leading-3" href="/category/玩具精品/">
        <img loading="lazy" src="https://snakie002hosifu.blog/wp-content/uploads/2022/01/2-36x26.png"/>
        <span>玩具精品</span>
      </a>
    </li>
  </ul>
</div>