<div class="card w-full bg-base-200 shadow-xl sticky top-20">
  <div class="card-body">
    <h2 class="card-title">可能有你喜歡的目錄！</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
</div>